<div class="analysis-statistical-overview scrollable">
  <spinner-wrapper [spinning]="loadingOverview">
    <div *ngIf='statisticalOverview'>
      <ng2-smart-table [settings]="this.tableSettings" [source]="this.tableDataSource"></ng2-smart-table>
    </div>
  </spinner-wrapper>
</div>
