<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Server-Pfad</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataset of datasets ;trackBy: trackId">
        <td>{{dataset.id}}</td>
        <td>{{dataset.name}}</td>
        <td>{{dataset.path}}</td>

        <td class="text-xs-right">
          <div class="btn-group flex-btn-group-container">
            <button type="button" [routerLink]="['/dataset', dataset.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">Anzeigen</span>
                        </button>
            <button type="button" replaceUrl="true" class="btn btn-danger btn-sm" (click)="delete(dataset.id)">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Löschen</span>
                        </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
