<div class="analysis-dataheader scrollable">
  <spinner-wrapper [spinning]="loadingHeaders">
    <div *ngIf='dataheader'>
      <ng2-smart-table [settings]="this.tableSettings" [source]="this.tableDataSource"></ng2-smart-table>
    </div>
  </spinner-wrapper>
</div>
