@import "mixins";
@import "settings";

html,
main {
  background-color: #eceeef;
}

.btn,
.card,
.row {
  margin: 10px;
}

.card {
  background-color: #fff;
  min-height: 4em;
  border: none;

  .card-header {
    @include clickable();
    .card-subtitle {
      margin-top: 0;
    }
  }
  .card-block {
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
  }
}

.scrollable {
  overflow: scroll;
}

canvas {
  height: $chart-height;
  width: $chart-width;
}
