<div class="analysis-data-correlation">
  <spinner-wrapper [spinning]="loadingCorrelations">
    <div *ngIf="correlations" class="container-fluid row">
      <div *ngFor="let correlation of correlations  | sortBy: 'absoluteCorrelation':'desc'"
           class="card card--with-graph">
        <div class="card-header" role="tab"
             (click)="toggleDistribution(correlation.attribute1,correlation.attribute2)"
             [attr.aria-expanded]="correlationIsShown[correlation.attribute1 + '_' + correlation.attribute2]"
             [attr.aria-controls]="correlation.attribute1 + '_' + correlation.attribute2"
             [ngClass]="{'bg-success': headerIsGreen(correlation), 'bg-warning': headerIsYellow(correlation), 'bg-danger': headerIsRed(correlation)}">
          <div class="left d-inline-block">
            <h5 class="mb-0">
              {{ correlation.attribute1 }} <-> {{ correlation.attribute2 }}
            </h5>
            <h6 *ngIf="correlation.correlation != 'None'" class="card-subtitle mb-2 text-muted">{{
              correlation.correlation | number : '1.2-2' }}</h6>
          </div>
        </div>

        <div [id]="correlation.attribute1 + '_' + correlation.attribute2"
             [ngbCollapse]="!correlationIsShown[correlation.attribute1 + '_' + correlation.attribute2]">
          <spinner-wrapper
            [spinning]="loadingCorrelationDetails[correlation.attribute1 + '_' + correlation.attribute2]">
            <div class="card-block"
                 *ngIf="correlationsDetails[correlation.attribute1 + '_' + correlation.attribute2]">
              <canvas baseChart [datasets]="lineChartData[correlation.attribute1 + '_' + correlation.attribute2]"
                      [options]="lineChartOptions[correlation.attribute1 + '_' + correlation.attribute2]"
                      [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
            </div>
          </spinner-wrapper>
        </div>
      </div>
    </div>
  </spinner-wrapper>
</div>
