<div>
  <div class="container">
    <div class="row">
      <input type="text" placeholder="Datenset-Name" class="form-control" id="datasetName" required [(ngModel)]="datasetName" name="datasetName">
    </div>
    <div class="row">
      <label class="btn btn-primary">
      CSV-Datei auswählen <input type="file" ng2FileSelect [uploader]="uploader" style="display: none;" />
      </label>
    </div>

    <div class="row">
      <div>
        Queue progress:
        <div class="progress" style="">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
      <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
      <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
    </div>
  </div>
</div>
