<div class="analysis-datatype">
  <spinner-wrapper [spinning]="loadingTypes">
    <div *ngIf='datatype'>
      <ng2-smart-table [settings]="this.tableSettings" [source]="this.tableDataSource"></ng2-smart-table>
    </div>
  </spinner-wrapper>
</div>
