<div class="analysis-data-distribution">
  <spinner-wrapper [spinning]="loadingDistributions">
    <div *ngIf="dataDistribution" class="container-fluid row">
      <div *ngFor="let distribution of dataDistribution.distributions_with_column | sortBy: 'skewness'"
           class="card card--with-graph">
        <div class="card-header" role="tab"
             (click)="toggleDistribution(distribution.column)"
             [attr.aria-expanded]="distributionIsShown[distribution.column]"
             [attr.aria-controls]="'distribution-' + distribution.column"
             [ngClass]="{'bg-success': headerIsGreen(distribution), 'bg-warning': headerIsYellow(distribution), 'bg-danger': headerIsRed(distribution)}">
          <h5 class="mb-0">
            {{ distribution.column }}
          </h5>
          <h6 *ngIf="distribution.skewness != 'None'" class="card-subtitle mb-2 text-muted">Skew: {{
            distribution.skewness | number : '1.2-2' }}</h6>
        </div>

        <div [id]="'distribution-' + distribution.column" [ngbCollapse]="!distributionIsShown[distribution.column]">
          <div class="card-block">
            <canvas baseChart [datasets]="barChartData[distribution.column]"
                    [labels]="barChartLabels[distribution.column]" [options]="barChartOptions" [legend]="barChartLegend"
                    [chartType]="barChartType"></canvas>
          </div>
        </div>
      </div>
    </div>
  </spinner-wrapper>
</div>
