<div class="container-fluid">
  <div class="row">
    <div class="card w-100">
      <div class="card-block">
        <h1 *ngIf="dataset">{{ dataset.name }}</h1>
        <h1 *ngIf="!dataset?.name"><em>Dieses Datenset hat keinen Namen</em></h1>
      </div>
    </div>
  </div>
  <div *ngIf="dataset">
    <div class="row">
      <div class="card">
        <div class="card-header">
          Reihen X Spalten
        </div>
        <div class="card-block">
          <analysis-dimensions [datasetId]="dataset.id"></analysis-dimensions>
        </div>
      </div>
      <div class="card card-analysis-datatype">
        <div class="card-header">
          Datentypen
        </div>
        <div class="card-block scrollable">
          <analysis-datatype [datasetId]="dataset.id"></analysis-datatype>
        </div>
      </div>
      <div class="card card-analysis-dataheader">
        <div class="card-header">
          Ersten 10 Zeilen
        </div>
        <div class="card-block scrollable">
          <analysis-dataheader [datasetId]="dataset.id"></analysis-dataheader>
        </div>
      </div>
      <div class="card card-analysis-statistical-overview">
        <div class="card-header">
          Statistische Übersicht
        </div>
        <div class="card-block scrollable">
          <analysis-statistical-overview [datasetId]="dataset.id"></analysis-statistical-overview>
        </div>
      </div>
      <div class="card card-analysis-data-distribution">
        <div class="card-header">
          Daten-Verteilungen
        </div>
        <div class="card-block scrollable">
          <analysis-data-distribution [datasetId]="dataset.id"></analysis-data-distribution>
        </div>
      </div>
      <div class="card card-analysis-data-correlation">
        <div class="card-header">
          Daten-Korrelationen
        </div>
        <div class="card-block scrollable">
          <analysis-data-correlations [datasetId]="dataset.id"></analysis-data-correlations>
        </div>
      </div>
    </div>
  </div>
</div>
